@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.header__menu__mobile {
    display: none;
}

.header__mobile {
    display: none;
}

.header__blocks {
    width: 100%;
}

.header__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__menu {
    width: 100%;
    background-color: black;
}

.header__menu__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.header__menu__texts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation-name: headermenu;
    animation-duration: 1.5s;
    transition: 1s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

@keyframes headermenu {
    from {
        transition: 1.5s;
        opacity: 0;
    }
    to {
        transition: 1.5s;
        opacity: 1;
    }
}

.header__menu__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__menu__logo img {
    width: 100%;
    height: 100%;
}

.header__menu__buttons {
    display: flex;
    justify-content: start;
    align-items: center;
}

.header__menu__buttons a {
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 25px;
}

.header__menu__buttons a:hover {
    color: rgb(180, 180, 180);
}

.header__menu__buttons a:last-child {
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 20px;
    padding: 8px 15px;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.header__menu__buttons a:last-child:hover {
    background-color: rgb(63, 63, 63);
    color: white;
}

.header__content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/header\ backround.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: inherit;
}

.header__content__texts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 25%;
}

.header__text1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    animation-name: headertext1;
    animation-duration: 1.5s;
    transition: 1s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

@keyframes headertext1 {
    from {
        margin-top: 200px;
        transition: 1.5s;
        opacity: 0;
    }
    to {
        margin-top: 0;
        transition: 1.5s;
        opacity: 1;
    }
}

.header__text1 p {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: center;
    width: 50%;
}

.header__text1 h1 {
    font-family: Poppins;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

.header__text__bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
}

.header__text__bottom1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.header__text__bottom p {
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-left: 5px;
}


/* what blocks ==================================================
============================================ */

.what__blocks {
    width: 100%;
    background-color: black;
}

.what__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.what__top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 30px;
    animation-name: whattop;
    animation-duration: 1.5s;
    transition: 1s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

@keyframes whattop {
    from {
        margin-top: 200px;
        transition: 1.5s;
        opacity: 0;
    }
    to {
        margin-top: 0;
        transition: 1.5s;
        opacity: 1;
    }
}

.what__top h1 {
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
}

.what__top p {
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 15px;
}

.what__cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.what__cards1,
.what__cards2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.what__card1 {
    width: 48%;
    height: 600px;
    background-image: url(images/what\ card1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: .8s;
    justify-content: end;
}

.what__card2 {
    width: 48%;
    height: 600px;
    background-image: url(images/what\ card2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: .8s;
    justify-content: end;
}

.what__card3 {
    width: 48%;
    height: 600px;
    background-image: url(images/what\ card3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: .8s;
    justify-content: end;
}

.what__card4 {
    width: 48%;
    height: 600px;
    background-image: url(images/what\ card4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: .8s;
    justify-content: end;
}

.what__card1:hover,
.what__card2:hover,
.what__card3:hover,
.what__card4:hover {
    opacity: .8;
    padding-bottom: 25px;
    transition: .8s;
}

.what__cards h1 {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 30px;
}

.what__cards p {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 30px;
    padding-bottom: 5px;
    width: 90%;
}

.what__cards a {
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 30px;
    transition: .8s;
    padding-bottom: 30px;
}